<html>
    <head>
        <style>
            body {
                background-color:cornsilk;
                background-size:100% 100%;
                }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Line Chat Box manager login</title>
    </head>
    <body>
    <h3> Line_Chat_Box manager login </h3>
    <div>
        <form  role="form" action="" method="post" >
            user name : <br>
            <input id="user" type="text" name="user" value="">
            <br><br>
            password : <br>
            <input id="passwd" type="text" name="passwd" value="">
            <br><br>
            <input type="submit" name="button" value="Login">
        </form>
    </div>
    </body>
</html>
      